html,
body {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#bg {
    background-color: #F1C21B;
    height: 100%;
    margin: 0%;
    background-position: center;
    background-size: cover;
}

.meteoInfo {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#icon {
    filter: saturate(8);
}

#temperature {
    color: black;
    font-size: x-large;
    align-content: flex-start;
    margin-top: 25%;
    font-weight: bolder;
    margin-right: 10px;
}

.vertical-line {
    border-left: 4px solid black;
    width: 1px;
    height: 45%;
    margin-top: 25%;
}

#svg1 {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: center;
    z-index: 0;
    margin-left: 20%;
}

#form1 {
    height: 30rem;
}

#form2 {
    margin-bottom: 30%;
    height: 10rem;
}

#form3 {
    height: 10rem;
    margin-top: 30%;
}

#svg2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: center;
    z-index: 0;
    margin-left: 20%;
}

#form1b {
    height: 30rem;
}

#form2b {
    margin-bottom: 30%;
    height: 10rem;
}

#form3b {
    height: 10rem;
    margin-top: 30%;
}

#title {
    margin-top: 5%;
}

#jokesSection {
    position: relative;
    z-index: 1;
    margin-left: 5%;
}

#joke {
    color: bisque;
    text-shadow: 0 0 3px black;
    margin-top: 5%;
}

#firstBtn,
#secondBtn,
#thirdBtn {
    color: black;
    width: 3rem;
    height: 3rem;
}

#buttonsList {
    margin-left: 40%;
    margin-right: 25%;
    margin-top: 25px;
    margin-bottom: 10px;
    justify-content: center;
    align-content: center;
}

#responseMessage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-shadow: 0 0 3px bisque;
}

#response {
    margin-top: 8%;
}

#jokeBtn {
    width: 20%;
}
