html,
body {
    max-width: 100vw;
    max-height: 100vw;
    margin: 0%;
}

header {
    background-color: #3BCEAC;
}

.meteoInfo {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#icon {
    filter: saturate(8);
}

#temperature {
    color: black;
    font-size: x-large;
    align-content: flex-start;
    margin-top: 25%;
    font-weight: bolder;
    margin-right: 10px;
}

.vertical-line {
    border-left: 4px solid black;
    width: 1px;
    height: 45%;
    margin-top: 25%;
}

#svg1 {
    position: absolute;
    z-index: -1;
    background-color: #3BCEAC;
    margin: 0%;
    width: 100%;
    height: 82%;
}

#form1 {
    height: 30rem;
    width: 55em;
}

#form2 {
    margin-bottom: 30%;
    margin-right: 10%;
}

#form3 {
    margin-left: 10%;
    height: 20rem;
    margin-top: 10%;
}

#jokesSection {
    flex-direction: column;
    margin-top: 5%;
}

#joke {
    color: bisque;
    text-shadow: 0 0 3px black;
}

#brush {
    width: 50em;
    height: 12em;
    margin-bottom: 10rem;
    position: absolute;
    z-index: -1;
}

#firstBtn,
#secondBtn,
#thirdBtn {
    color: black;
    width: 3rem;
    height: 2rem;
}

#buttonsList {
    display: none;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 25px;
    margin-bottom: 10px;
    justify-content: center;
    align-content: center;
}

#jokeBtn {
    width: 10em;
    margin-top: 0%;
    margin-left: 50%;
} 